.container {
  padding: 15px 0 0 20px;
  height: calc(100vh - 55px);
  background-color: #fcfcfc;
}

.docCardsCont {
  display: flex;
  align-items: center;
}

.docCardsCont a {
  color: #50caff;
}

.infoCardsCont {
  display: flex;
  flex-wrap: wrap;
}
